[submodule ".vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/pep8"]
	path = vim/.vim/bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule ".vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule ".vim/bundle/pastie"]
	path = vim/.vim/bundle/pastie
	url = https://github.com/tpope/vim-pastie.git
[submodule ".vim/bundle/pyflakes"]
	path = vim/.vim/bundle/pyflakes
	url = git://github.com/mitechie/pyflakes-pathogen.git
